.location__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    padding: 3rem;
    gap: 1rem;
}
   
.operating {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column; 
        gap: 1.5rem;       
    }
}    

.restaurants {
    padding: 2rem 1rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    .restaurants__new {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    &::before {
        position: absolute;
        content: "Nouveau";
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        padding: 5px 10px;
        border-radius: 0.15rem;
        background-color: $color-tertiary;
        color: darken($color:$color-tertiary, $amount:30%);
        font-size: 0.9rem;
        font-weight: bold;
        }
    }
}




