.location__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fafafa;
    padding: 3rem;
    gap: 1rem;
}
   
.operating {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column; 
        gap: 1.5rem;       
    }
}    

.restaurants {
    padding: 2rem 1rem;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    article {
    background-color: white;
    border-radius: 1rem;
    }
}




