.dish {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 1rem;
    @include lighter-shadow;
    &__infos {
        display: flex;
        width: 100%;
    }
    &__text {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        gap: 0.3rem;
        padding: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        .dish__h3, .dish__p {
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }
    &__price {
        align-self: flex-end;
        padding: 0.8rem;
        margin-left: auto;
    }
    &__selection {
        display: flex;   
        width: 0;
        visibility: hidden;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: white;
        margin-left: 1rem;
        transition: all 500ms ease-in-out;
        .dish__i {
            font-size: x-large;
            transition: transform 600ms ease-in-out;
        }
    }
    &:hover {
        .dish__selection {
            width: 70px;
            visibility: visible;
            .dish__i {
            transform: rotate(360deg);
            }
        }
    }
}
