.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #353535;
    color: white;
    margin: auto;
    position: relative;
    &__logo {
        font-family: "Shrikhand-Regular", cursive;
        font-size: larger;
        margin-bottom: 1rem;
    }
    &__purpose, &__partners {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
        gap: 1rem;
    }
    &__partners &__i {
        font-size: x-small;
        align-self: center;
    }
    &__contact {
        .footer__p {
            margin-bottom: 0.5rem;
        }
        .footer__a {
            margin-bottom: 2rem;
            text-decoration: none;
            color: white;
            &:hover {
                padding-bottom: 0.1rem;
                border-bottom: 2px solid white;
            }
        }
    }
}