    .location__form {
        display: flex;
        justify-content: center;
        background-color: #f3f3f3;
        padding: 1rem;
        width: 100%;
        @include darker-shadow;
        #location__label {
            border: none;
            background-color: #f3f3f3 ;
            font-size: 1rem;
            text-align: center;   
        }
    }





