.project__btn {
    text-decoration: none;
    margin: auto;
    color: white;
    @include project__btn-gradient;
    padding: 15px 35px;
    border: $color-secondary;
    border-radius: 25px;
    @include lighter-shadow;
    position: relative;
    z-index: 1;
    //Replacement background-color property in hover because triggers a new paint calculation. Opacity allows transitions without calculations
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: $color-secondary;
        border-radius: 25px;
        @include shadow;
        background: linear-gradient(170deg, lighten($color-secondary, 3) 10%, lighten($color-primary, 5) 90%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.operating__btn {
    .operating__a {
        text-decoration: none;
        color: black;
        display: flex;
        gap: 1.5rem;
        padding: 25px;
        background-color: #fafafa;
        border: #fafafa;
        border-radius: 15px;
        @include lighter-shadow;
        margin-left: 1rem;
        transition: background-color 250ms;
        position: relative;
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: $color-secondary;
            border-radius: 15px;
            @include shadow;
            background: lighten($color-primary, 36%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
        .operating__nb {
            padding: 3px 8px;
            background-color: $color-primary;
            border: $color-primary;
            border-radius: 50%;
            color: white;
            position: absolute;
            left: -0.62rem;
        }
        .operating__i {
            color: grey;
            align-self: center;
            margin-left: 0.4rem;
        }
        .operating__subtitle {
            margin-right: auto;
            font-size: 1rem;
        }
    }
}