.restaurants__card { 
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    border-radius: 1rem;
    @include lighter-shadow;
    .restaurants__img {
    @include img-appearance;    
    border: 0 solid transparent;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;   
    }
    .restaurants__infos {
        display: flex;
        flex-direction: row;
        .restaurants__name {
            padding: 0.8rem 0 0 0.5rem;
        }
        .restaurants__location {
            padding: 0 0 0.8rem 0.5rem;
            font-weight: 100;
        }
    }
}



