.restaurants__heart {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
    .empty {
        position: relative;
        opacity: 1;
        font-size: x-large;
    }
    .full {
        position: absolute;
        opacity: 0;
        color: transparent;
        background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
        background-clip: text;
        font-size: x-large;
    }   
    .restaurants__i-box {
        &:hover {
            .empty {
                opacity: 0;
                transition: opacity 500ms cubic-bezier(.18,.42,.99,.02);
            }
            .full {
                opacity: 1;
                transition: opacity 500ms cubic-bezier(.18,.42,.99,.02);
            }
        }
    }
}
