.logo {
    display: flex;
    a{
        align-self: center;
        margin-left: 1rem;
        color: black;
    }
    img {
        margin: auto;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    position: relative;
    &__img {
        @include img-appearance;
    }
    &__div-text{
        background-color: #fafafa;
        border: 0 solid transparent;
        border-bottom: none;
        border-radius: 1.5rem 1.5rem 0 0;
        position: relative;
        top: -1rem;
        .menu__text {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem;
            width: 100%;  
            .menu__title {
                display: flex;
                max-width: 1200px;
                margin: auto;
                .menu__h1 {
                    white-space: nowrap;
                    margin-right: 90px;
                }
            }
        }
        .menu__dishes {
            max-width: 768px;
            margin: auto;
            animation: dish__appear 1s ease-in-out both;
            &:nth-child(2) {
                animation-delay: 1s;
            }
            &:nth-child(3) {
                animation-delay: 1.5s;
            }
            &:nth-child(4) {
                animation-delay: 2s;
            }
            .menu__h2 {
                margin-left: 1rem;
                padding-bottom: 0.2rem;
                border-bottom: 4px solid $color-tertiary;
                width: 40px;
            }  
        }
    }
}

.div-button {
    display: flex;
    margin: auto;
    padding: 1rem;
}

