// keyframes for loading page
@keyframes waiting {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes disappearance {
    0% {
        opacity: 0.9;
        visibility: visible;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

//keyframe for appearance of staggered menus
@keyframes dish__appear {
  0% {
      transform: translateY(2rem);
      opacity: 0;
  }
  100% {
      transform: translateY(0rem);
      opacity: 1;
  }
}