@mixin darker-shadow {
    box-shadow: inset 0px 5px 10px -5px rgba(72,72,72,0.57);
}
@mixin lighter-shadow {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}
@mixin shadow {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
}
@mixin project__btn-gradient {
    background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
}
@mixin btn-hover {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
}
@mixin img-appearance {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}
