$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
// colors for loading spinner text
$color-primary-lighten: #d7c0f2;
$color-secondary-lighten: #fface8;
$color-tertiary-lighten: #c1ede2;
$color-primary-darken: #782cd3;
$color-secondary-darken: #ff46cc;
$color-tertiary-darken: #71d7be;

