$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$color-primary-lighten: #d7c0f2;
$color-secondary-lighten: #fface8;
$color-tertiary-lighten: #c1ede2;
$color-primary-darken: #541f94;
$color-secondary-darken: #f900b4;
$color-tertiary-darken: #38c4a1;

